<div class="modal-content">
    <app-search
        [data]="getUsers"
        [searchField]="searchField"
        (searchResults)="users = $event"
    ></app-search>

    <div class="table">
        <div class="user-list-header">
            <div class="user-cell">Email</div>
            <div class="user-cell">First Name</div>
            <div class="user-cell">Last Name</div>
        </div>

        <div class="user-list-body">
            <app-row
                *ngFor="let user of users"
                [data]="user"
                [columns]="columns"
                (clicked)="onUserClicked($event)"
            ></app-row>
        </div>
    </div>
    <button type="button" (click)="closeModal()" class="btn btn-primary close">
        Close
    </button>

    <app-change-role
        *ngIf="isChangeRole"
        [userId]="currentUserId"
        (close)="isChangeRole = false && (currentUserId = '')"
    ></app-change-role>
</div>
