<div class="modal-content">
    <div class="modal">
        <h2 class="modal-title">Are you sure you want to delete?</h2>
        <p class="error-message">
            This action cannot be undone.<br />Please confirm if you wish to
            proceed.
        </p>
        <div class="modal-buttons">
            <button class="btn btn-secondary confirm" (click)="confirm()">
                OK
            </button>
            <button class="btn btn-secondary close" (click)="cancel()">
                Cancel
            </button>
        </div>
    </div>
</div>
